<nav class="navbar fixed-top" style="background-color: #266fb6; height: 80px;">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="/"
        style="
          font-family: 'Quicksand', sans-serif;
          font-family: 'Ubuntu', sans-serif;
        "
        >&nbsp;&nbsp;&nbsp;
        <img
          src="/images/Completo_letra-removebg-preview.png"
          alt="Bootstrap"
          height="45px"
          class="d-inline-block align-text-top"
          style="margin-top: -15px"
        />
      </a>
    </div>
  </nav>
  <div class="mt-5">&nbsp;</div>
  