    <!-- Imagen de footer -->
    <!-- <div style="height: 20vh; position: fixed; bottom: 0; width: 80%;"> -->
      
  <!-- </div> -->

  <footer>
    <img class="sticky-bottom" src="/images/footer-removebg-preview.png" alt="Imagen de fondo" style="width: 100%;">
  </footer>

</body>

</html>